body{
	background-color: #232323;
	margin: 0;
	font-family: "Avenir";
}
.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	margin:1.66%;
	float:left;
	border-radius: 15%;
	transition: background 0.7s; 
	-webkit-transition:background 0.7s; 
	-moz-transition:background 0.7s; 
}
#container{
margin: 20px auto;
max-width: 600px;

}
 
#stripe{
	height: 30px;
	text-align: center;
	background-color: white;
	color: black;
}
.selected{
	background-color: blue;

}
h1{
	text-align: center;
	line-height: 1.1;
	 background-color:steelblue; 
	 margin: 0;
	 color: white;
	 font-weight: normal;
	 text-transform: uppercase; 
	 padding: 20px 0
}
#colorDisplay{
	font-size: 200%;
}
button{
	border: none;
	background-color: white;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	font-size: inherit;
	transition: all 0.5s;
	outline: none;
}
#message{
	display: inline-block;
	width: 20%
}
button:hover{
	color: white;
	background-color: steelblue;
}